body
{
    margin: 0 150px;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.naslov
{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: solid gray 3px;
}

#logo
{
    width: 200px;
}

.meni
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34%;
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.meni span:nth-child(2) a
{
    color: lightgreen;
}

.prvo
{
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    margin: 5px 0 15px 0;
}

#prv_span
{
    color: black;
    font-size: 14px;
    padding-left: 5px;
}

.vtoro
{
    margin-bottom: 5px;
    padding: 5px 100px;
    background-color: lightcyan;
}

#prv_del
{
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 20px;
    align-items: center;
}

.opis
{
    padding: 0;
}

.opis hr
{
    padding: 0 10px;
    width: 160px;
}

section p:first-child
{
    margin: 0;
    font-size: 15px;
    text-align: center;
    align-self: center;
    padding: 5px 0;
    border-bottom: solid gray;
    font-weight: bolder;
    border-bottom-width: 2px;
}

section p:last-of-type
{
    font-size: 11px;
}

#vtor_del
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}
#barcelona, #efes, #prague, #verona
{
    width: 250px;
}


#prv, #vtor, #tret, #cetvrt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 5px;
    align-content: center;
    flex-wrap: wrap-reverse;
}

.footer
{
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    border-top: solid gray 3px;
}

#footer
{
    font-family: 'Georgia', serif;
    font-size: 11px;
}